language: php

php:
  - 7.2
  - 8.0

cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer self-update && composer --version
  - travis_retry composer global require "fxp/composer-asset-plugin:~1.4"
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer install --prefer-dist --no-interaction

script:
  - composer exec codecept build -v
  - composer test -v
